@using TechCareer.WernerHeisenberg.Northwind.Dtos
@model TableViewModel<TechCareer.WernerHeisenberg.Northwind.Dtos.EmployeeDto>
@{
    ViewData["Title"] = "Employee List";
    var extraCols = new Dictionary<string, Func<object?, string>>()
    {
        {
            "Action", (employee) =>
            {
                var employeeDto = employee as EmployeeDto;
                return $"<a href=\"{Url.Action("EmployeeOrders", new { employeeId = employeeDto.EmployeeId })}\">Orders</a>";
            }
        }
    };
}

<heisenberg-table
    host-url="@Url.Link("default", new { action = "Index", controller = "Home" })"
    data="Model.Data"
    count="Model.Count"
    page="Model.Page"
    page-size="Model.PageSize"
    extra-cols="extraCols">
</heisenberg-table>